<%- include('../partials/header') %>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>topic</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>Views</th>
                <th>Posts</th>
            </tr>
        </thead>
        <tbody>
            <form>
                <tr>
                    <td>Engine Running Strong Post Recall</td>
                    <td>November 21, 2020</td>
                    <td>8714</td>
                    <td>131</td>
                </tr>
            </form>
        </tbody>
    </table>
    <form action="/topics/<%= topic %>/threads" method="POST">
        <input type="text" placeholder="Title" name="title">
        <textarea placeholder="Content" name="content"></textarea>
        <input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer') %>