<%- include('../partials/header') %>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>topic</title>
</head>

<body>
<div class="newThread">
    <form action="/topics/<%= %>/threads" method="POST">
        <label>Topic
            <select id="topicDropdwn" name="topic">
                <option value="General" selected>General</option>
                <option value="Engine">Engine</option>
                <option value="ForcedInduction">ForcedIsdfanduction</option>
                <option value="WheelsTires">WheelsTires</option>
                <option value="Suspension">Suspension</option>
                <option value="Cosmetic">Cosmetic</option>
            </select>
        </label>
        <input type="text" placeholder="Title" name="title">
        <textarea placeholder="Content" name="content"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>

<%- include('../partials/footer') %>